.TV-1 {
    width: 1280px; 
    height: 720px; 
    background-color: white;
}

.unsplash1 {
    width: 1280px; 
    height: 720px; 
    position: relative; 
    @font-face {
        font-family: face;
        src: url(https://via.placeholder.com/1280x720);
    }
}

.Ellipse540 {
    width: 794px; 
    height: 526px; 
    left: 231px; 
    top: 120px; 
    position: absolute; 
    background-color: rgba(0, 0, 0, 0.60); 
    border-radius: 9999px;
}

.image_2022-12-22_20-46-40-removebg-preview1 {
    width: 490.67px; 
    height: 101.25px; 
    left: 369.33px; 
    top: 155.59px; 
    position: absolute;
    @font-face {
        font-family: ;
        src: url(https://via.placeholder.com/490.66668701171875x101.25);
    }
}